extends layout

block content
    div(class='edit')
        form(id='form', method='post', action='/editaccount')
            p Username: &nbsp;
                input(type='text', name='Username' value=person.username)
            p Password: &nbsp;
                input(type='password', name='Password')
            p Email: &nbsp;
                input(type='text', name='Email' value=person.email)
            p Age: &nbsp;
                input(type='text', name='Age' value=person.age)
            p
                input(type='submit', value='Submit', class='btn')

