extends layout

block content
    h3(id='mainTitle') The Chain Dingos!
    title1="Fav Primary Color"
    canvas(id="canvas1", height="300", width="300")
    title2="# Of Siblings"
    canvas(id="canvas2", height="300", width="300")
    title3="Identity"
    canvas(id="canvas3", height="300", width="300")
    script(src="graphs.js")
    