extends layout

block content
    h3(id='mainTitle') The Chain Dingos!
    canvas(id="canvas1", height="500", width="500")
    canvas(id="canvas2", height="500", width="500")
    canvas(id="canvas3", height="500", width="500")
    script(src="graphs.js")
    //- img(src=config.image id='chainDingo')
    