extends layout

block content

    div(class='actForm')
        div(id='right' class='sides')
            h3 Sign Up
            form(id='form' method='post' action='/createaccount')
                p Username: &nbsp;
                    input(type='text' name='username')
                p Password: &nbsp;
                    input(type='password' name='password')
                p Email: &nbsp;
                    input(type='email' name='email')
                p Age: &nbsp;
                    input(type='number' name='age')
                p What is your favourite primary colour? (Red, Yellow or Blue): &nbsp;
                    select(name="q1")
                        option(value="Red") Red
                        option(value="Yellow") Yellow
                        option(value="Blue") Blue
                p How many siblings do you have? &nbsp;
                    select(name="q2")
                        option(value="Zero") 0
                        option(value="One") 1
                        option(value="Two") 2
                        option(value="Three") 3
                        option(value="FourPlus") 4+
                p What do you identify as? (Male, Female, Non-Binary, or Other): &nbsp;
                    select(name="q3")
                        option(value="Male") Male
                        option(value="Female") Female
                        option(value="Non-Binary") Non-Binary
                        option(value="Other") Other
                p 
                    input(type='submit' value='Submit' class='btn')

        div(id='left' class='sides')
            h3 Log In
            form(id='form' method='post' action='/authenticate')
                p Username: &nbsp;
                    input(type='text' name='username')
                p Password: &nbsp;
                    input(type='password' name='password')
                p Remember Me? &nbsp;
                    input(type='checkbox' name='remember')
                p 
                    input(type='submit' value='Submit' class='btn')

    div(class=validLogin) 
        p(id='ivp') Your password is invalid, please try again.