extends layout

block content
    h3 Sign Up
    form(id='form' method='post' action='/authenticate')
        p Username: &nbsp;
            input(type='text' name='username')
        p Password: &nbsp;
            input(type='text' name='password')
        p Email: &nbsp;
            input(type='text' name='email')
        p Age: &nbsp;
            input(type='text' name='age')
        p Security Questions: &nbsp;
        p What is your favorite color? &nbsp;
            input(type='text' name='color')
        p What is your favorite food? &nbsp;
            input(type='text' name='food')
        p Where is your dream vacation? &nbsp;
            input(type='text' name='vacation')
        p 
            input(type='submit' value='Submit')

    h4 Log In
    form(id='form' method='post' action='/createAccount')
        p Username: &nbsp;
            input(type='text' name='username')
        p Password: &nbsp;
            input(type='text' name='password')
        p 
            input(type='submit' value='Submit')