extends layout

block content

    div(class='actForm')
        div(id='right' class='sides')
            h3 Sign Up
            form(id='form' method='post' action='/createaccount')
                p Username: &nbsp;
                    input(type='text' name='username')
                p Password: &nbsp;
                    input(type='password' name='password')
                p Email: &nbsp;
                    input(type='text' name='email')
                p Age: &nbsp;
                    input(type='text' name='age')
                p What is your favourite primary colour? (Red, Yellow or Blue): &nbsp;
                    input(type='text' name='q1')
                p How many siblings do you have? &nbsp;
                    input(type='text' name='q2')
                p What do you identify as? (Male, Female, Non-Binary, or Other): &nbsp;
                    input(type='text' name='q3') 
                p 
                    input(type='submit' value='Submit' class='btn')

        div(id='left' class='sides')
            h3 Log In
            form(id='form' method='post' action='/authenticate')
                p Username: &nbsp;
                    input(type='text' name='username')
                p Password: &nbsp;
                    input(type='password' name='password')
                p Remember Me? &nbsp;
                    input(type='checkbox' name='remember')
                p 
                    input(type='submit' value='Submit' class='btn')

    div(class=validLogin) 
        p(id='ivp') Your password is invalid, please try again.