*{
    margin-top: 0px;
}

html {
    background: #CEFDCA;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}

h3 {
    color: #24B300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.label {
    margin: 0px 10px
}

.legend {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.legItem {
    display: flex;
    direction: row;
    margin: 5px;
    padding: 5px
}

.legKey {
    width: 10px;
    height: 10px;
    border: solid 1px black;
}

.graph {
    margin: 7px;
    padding: 10px;
    border: solid 2px black;
}

.gt {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    text-align: center;
}

.menu_item {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
    padding: 3px;
    border: solid 2px #E6194A;
    background: #FF94CC;
    color: #991A06;
    border-radius: 5px;
    font-size: 20px;
}

.menu_item:hover {
    background: #1700AB;
    border: solid 3px #6A8AEB;
    color: #A1CDFF;
    margin: 10px;
    padding: 3px;
}

.menu {
    display: flex;
    flex-direction: row;
}

.actForm {
    display: flex;
    flex-direction: row-reverse;
    width: 90%
}

.hideAccount {
    display: none;
}

.hideSignIn {
    display: none;
}

.sides {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn {
    margin: 5px;
    padding: 3px;
    border: solid 1px black;
    color: white;
    font-size: 16px;
    background: #24B300;
}

.btn:hover {
    color: #A1CDFF;
    border: solid 1px #6A8AEB;
    background: #1700AB;
}

.edit {
    display: block;
    width: 20%;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
}

.isValid {
    display: none;
}

.isNotValid {
    display: inherit;
}

#ivp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    color: #B00;
    text-decoration: underline;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#chainDingo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

#mainTitle {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 10%;
}

#nav {
    background: #24B300;
}

#graphs {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 60px;
    width: 50%;
}

#legends {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 60px;
    width: 33%
}

#r {
    background: #AD1136;
}

#y {
    background: #DE991D;
}

#b {
    background: #3318DE;
}

#zero {
    background: #AD1136;
}

#one {
    background: #DE991D;
}

#two {
    background: #3318DE;
}

#three {
    background: #6F03A8;
}

#four {
    background: #80DE1D;
}

#m {
    background: #AD1136;
}

#f {
    background: #DE991D;
}

#nb {
    background: #3318DE;
}

#o {
    background: #6F03A8;
}